<h1 class="text-center my-3">Gizlilik Politikası</h1>

<h2 class="text-center">Diğer sitelerden gömülen içerik</h2>
<p class="my-3">Bu sitedeki makaleler gömülü içerik (ör. videolar, görseller, makaleler, vb.) içerebilir. Diğer web
  sitelerinden gömülen içerik, ziyaretçinin diğer web sitesini ziyaret etmiş gibi, tam olarak aynı şekilde davranır./p>
<p class="my-3">Bu web siteleri senin hakkınızda veri toplayabilir, çerez kullanabilir, üçüncü taraf tarafından gömülmüş
  şeklide takip yapabilir ve bir hesabın varsa ve bu web sitesinde oturum açtıysan, gömülen içerikle etkileşimini takip
  etme dahil olmak üzere, bu gömülen içerikle etkileşimini izleyebilir.</p>

<h2 class="text-center">Eklentilerden kaynaklı veri toplama</h2>
<p class="my-3">Bu site, daha hızlı yanıt süresi ve daha iyi kullanıcı deneyimi sağlamak için önbellek kullanır.
  Önbelleğe alma, bu sitede görüntülenen her web sayfasının tekrarlanan bir kopyasını depolayabilir. Tüm önbellek
  dosyaları geçicidir ve önbellek eklenti sağlayıcısından teknik destek talep edilmedikçe hiçbir üçüncü taraf tarafından
  erişilmez. Önbellek dosyalarının süresi site yöneticisi tarafından belirlenen bir zamanlamaya göre sona erer, ancak
  gerekirse süre dolmadan yönetici tarafından kolayca temizlenebilir. Verilerini geçici olarak işlemek ve önbelleğe
  almak için QUIC.cloud hizmetleri kullanabiliriz. Daha fazla bilgi için lütfen https://quic.cloud/privacy-policy/
  inceleyebilirsin.</p>
<h2 class="text-center">Kişiselleştirilmiş Reklamlar</h2>
<p class="my-3">parasizkaldim.com Google AdSense reklam gelirleri üzerinden para kazanma amacıyla oluşturulmuş bir
  internet sitesidir. Dolayısıyla internet sitemde göreceğin reklamlar senin için kişiselleştirilmiş olabilir. </p>
<p class="my-3">Google dahil üçüncü taraf tedarikçiler, siz kullanıcıların web siteme veya diğer web sitelerine yaptığı
  önceki ziyaretleri temel alan reklamlar yayınlamak için çerez kullanmaktadır.</p>
<p class="my-3">Tarayıcında bulunan tüm reklam çerezlerini yönetmek için çerez sahibi internet sitelerini ziyaret
  edebilir veya http://www.aboutads.info sitesini ziyaret ederek tarayıcındaki tüm çerezleri görüntüleyebilir ve
  yönetebilirsin.</p>
<p class="my-3">Ayrıca istediğin zaman Google Reklam Ayarları sayfasını ziyaret ederek hesabın için kişiselleştirilmiş
  reklamcılığı devre dışı bırakabilirsin.</p>
<p class="py-3">Daha fazla bilgi için Google’ın bu konu hakkındaki bilgilendirici makalesine göz atabilir veya gördüğün
  reklamları kontrol etmek hakkında bilgi alabilirsin.</p>