<h1 class="text-center pt-5">İletişim</h1>
<p>Burası henüz test sayfasıdır. Angular Reactive Formlar burada test edilmektedir. <br>
  İsim: {{name.value}} <br>
  Mail: {{mail.value}} <br>
  Mesaj: {{message.value}} <br>
</p>
<div class="row g-3 align-items-center justify-content-center pt-2">
  <div class="row my-4 justify-content-center">
    <div class="col-6">
      <label for="name" class="">Adın:</label>
      <input type="text" class="form-control mt-2" id="name" [formControl]="name" placeholder="Ad" aria-label="isim">
    </div>
  </div>
  <div class="row my-4 justify-content-center">
    <div class="col-6">
      <label for="mail" class="">E-Posta Adresin:</label>
      <input type="text" class="form-control mt-2" id="mail" [formControl]="mail" placeholder="E-Posta" aria-label="eposta">
    </div>
  </div>
  <div class="row my-4 justify-content-center">
    <div class="col-6">
      <label for="message" class="">Mesajın:</label>
      <textarea class="form-control mt-2" id="message" [formControl]="message" rows="5" placeholder="Mesaj"></textarea>
    </div>
  </div>
  <div class="row text-center justify-content-center">
    <div class="col-6">
      <button class="btn btn-primary" type="submit">Gönder</button>
    </div>
  </div>
</div>
<div class="col-12 col-lg-6 text-end">
  <img src="/assets/images/ilkerserce.png" class="md-img-fluid" alt="" srcset="" height="580px"
    style="margin-left:-35px;">
</div>
