<h1 class="text-center">Hakkımda</h1>
<p class= "my-3">Selamlar, ben yirmilerinin başında olan bir Web Geliştiricisi ve Dijital Reklam Uzmanıyım. 2 yıllık bilgisayar
  programcılığı bölümünden mezun olduktan çeşitli projelerde yer aldım ve farklı işlerde çalıştım. Ufak bir aydınlanma
  sürecinin ardından ise parasizkaldim.com sitesini oluşturmaya karar verdim.</p>

<p class= "my-3"> Ortaokul ve lisede meraklı ve araştırmacı biriydim. Kendini geliştirmekten keyif alan bir çocuktum. Ardından lisede
  yaşadığım bazı tatsız olaylardan sonra gözlüğümü çıkardığımda hayatın toz pembe olmadığını anladım. Lisede dil
  bölümünden okurken Google Çeviri’nin ilerde gelişeceğini düşündüm ve bu sebepten dolayı dünya lisanları ile bağlantılı
  iş sahibi olmanın yakın gelecekte hiçbir işe yaramayacağına kanaat getirdim. Bu yüzden de lise yıllarında odağımı
  derslerden çektim.</p>

<p class= "my-3">Lisenin son iki senesini depresyonda geçirdim. İçimden hiçbir şey yapmak gelmiyordu, yaptığım şeyler anlamsız
  geliyordu. Cebimde param yoktu, sahilde yaptığım yürüyüşün tadı yoktu. Sanki içimde bir şeyler ölmüş gibiydi. O
  dönemlerde geceleri sabahlıyor, gündüzleri okula uyumak için gidiyordum. Öğretmenim derslere katılmamı istediğinde ve
  benimle konuşmak istediğinde düşüncelerimi ona anlatmanın hiçbir şey değiştirmeyeceğini biliyordum.</p>

<p class= "my-3">Bir gece Minecraft oynarken farkettim ki mantık birimleri ile elektrik sistemleri yapmak çok hoşuma gidiyordu.
  Otomasyon fabrikalar yaptığımda büyük haz alıyordum. Çok tuhaf bir şeydi, hayatı siyah-beyaz gören ben Minecraft
  oynadığımda ekranımı rengarenk görüyordum. Sabahlara kadar oyun oynuyordum, internetten videolar izliyordum, devreler
  kuruyordum. Daha sonra çoklu oyunculu sunucularda diğer oyuncular ile oynamaya başladım. Oyundaki ekonomik durumum,
  herkesten daha iyiydi. Oyuna para yatırmadan diğer oyunculardan daha iyi durumdaydım, hepsi de otomasyon fabrikalarım
  sayesindeydi.</p>

<p class= "my-3"> Minecraft sunucusu açmaya karar verdim. Sabahlara kadar oyun oynayan ben birden sunucu açmak için kodlama öğrenmeye
  çalışan, hazır eklentilerin dil dosyalarını Türkçe’ye çeviren, sunucu tarafında ayarlamalar yaparak oyunu test eden
  birine dönüşmüştüm. Java’yı öğrenmeye çalıştım fakat başaramadım. Etrafımda beni yönlendirebilecek kimse yoktu, 17
  yaşımda bu konuyla ilgilenmek bana zor gelmişti.</p>
<h2 class="text-center">Üniversite</h2>
<p class= "my-3">Lise bittiğinde evimin tavanına uzun uzun baktığım günleri hatırlıyorum. Sunucu oluşturmaktan, sunucu dosyalarını
  düzenlemekten, dosyaları çevirmekten büyük keyif almıştım. Daha fazlasını istiyordum ve kararımı vermiştim. Kodlama
  üzerine bir bölüm okuyacaktım. Dil bölümü okuyan bir öğrencinin 4 senelik bilgisayar-yazılım mühendisliği okuma şansı
  yoktu, bu yüzden ben de sadece 2 yıllık üniversiteyi okumak için tercihimi yaptım. Fark etmeden isabetli bir tercih
  yaptığımı yıllar sonra fark ettim.</p>
<p class= "my-3">Üniversitede ilk sene ne yapacağımı bilemeden geçirdim. Sayısal Elektronik, Algoritma gibi herkesin öğrenmesi gereken
  temel dersleri almıştım fakat birden bu kadar bilgi ile donatılınca yöneleceğimi alanı şaşırdım. 2. sene ise Görsel
  Programlama’nın üzerine düştüm. Hatta bir ön muhasebe programı yaptım. Daha sonra ise benim için Web alanının daha
  uygun olduğunu fark ettim ve bu alana yoğunlaştım</p>
<h2 class="text-center">Bu sitenin amacı nedir?</h2>
<p class= "my-3">Bu sitenin amacı insanlara internetten nasıl para kazanabileceğini öğretmektir. SEO/SEM, web, sosyal medya, içerik
  üretimi gibi konularda site ziyaretçilerini faydalı içerikler üzerinden bilgilendirmeyi ve eğitmeyi hedefliyorum.
  Lisedeyken yazılım ile ilgilendiğimde her şey çok karmaşık geliyordu ve çevremde danışabileceğim kimse yoktu. Benim
  fazla çaba sarf ederek edindiğim bilgileri bu site üzerinden bu işe yeni başlamak isteyen insanlara aktarmak
  istiyorum.</p>
<p class= "my-3">Üniversite bittiğinde ve diplomamı aldığımda fark ettim ki bir şeyleri öğrenmenin en iyi yolu o iş için kolları
  sıvamak ve harekete geçmekmiş. Üniversitedeki hocamın bir lafı vardı, asla unutmayacağım:</p>
<p class= "my-3">Üniversite size öğrenmeyi öğretecek. Başka hiçbir beklentiniz olmasın.</p>
<p class= "my-3">Gerçekten de üniversite bana öğrenmeyi öğretti, gerisi de çorap söküğü gibi geldi. Sitedeki yazılarımı okuyacağın
  zaman fark edeceksin ki sana sihirli bir değnek ile para kazanmanı sağlayacak “HESOYAM” hilesini vermiyorum. Sana
  başlaman için gereken noktaları, ilerlediğinde düşmemen gereken hataları ve kendini geliştirmen için kat edeceğin
  yolun tarifini veriyorum. İnternetten para kazanmak ve kolay para kazanmak isimli yazılarımda bu konular üzerinde
  durdum.</p>
<h2 class="text-center">parasizkaldim.com ve Gelir Kaynağı</h2>
<p class= "my-3">parasizkaldim.com gelir elde etmek amacıyla Google AdSense ile çalışmaktadır. İnternet sitesinde gördüğün reklamlar
  Google tarafından sana gösterilmiş reklamlardır. Bunun dışında parasizkaldim.com ‘da başka bir gelir kaynağı yoktur.
  İçeriklerimi okuduğunda, diğer sayfalara geçtiğinde, site içi trafik sağladığında bu reklamları görmen muhtemeldir.
  Site içerisinde toplanan bilgiler veya gördüğün reklamlar hakkında bilgi almak için Gizlilik Politikası’nı
  okuyabilirsin.</p>
<h2 class="text-center">İletişim</h2>
<p class= "py-3">İletişim sayfası üzerinden benimle iletişime geçebilirsin.</p>